{% extends 'core/base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
    <form class="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Register" button_type="submit" button_class="btn-primary" %}
        <a href="{% url 'core:index' %}" class="btn btn-light">Cancel</a>
    </form>
</div>
{% endblock %}
