{% extends 'core/base.html' %}
{% load static %}


{% block content %}

<div class="container">

    <div class="card-deck">

        {% for recipe in object_list %}

            <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
                <div class="card-header">
                    <h3>{{recipe.name}}<span class="float-right"><h3>{{recipe.time}} min </h3></span></h3>
                </div>
                <img src="{% static 'media/' %}{{recipe.image}}" class = " card-img-top imageThumbnail "/>
                <div class="card-footer text-center">


                    <form method="post" action="{% url 'core:favorite_recipe' recipe.id %}">
                        <a href="{% url 'core:recipe_details' recipe.id  %}" class="btn btn-primary">View Details</a>
                        {% csrf_token %}
                        <input type='hidden' name='recipe' value={{recipe.id}}>
                        <button type="submit"class="btn btn-danger ">Remove </button>
                    </form>
                </div>

            </div>
        {% endfor %}

    </div>


</div>
{% endblock %}
