{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="row justify-content-center m-3">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h1>{{object.name}}<span class="float-right"><h3>{{recipe.time}} min </h3></span></h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top imageThumbnail" src="{% static 'media/' %}{{recipe.image}}"  />
                <pre><h4>Ingredients:
{{object.ingredients}}</h4></pre>
            </div>
            <div class="card-body text-center">
                <pre><h4>Directions:
{{object.directions}}</h4></pre>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'core:index' %}" class="btn btn-primary" style="width:120px">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}