{% extends 'core/base.html' %}
{% load static %}


{% block content %}

<div class="container">

    <div class="card-deck">

        {% for recipe in object_list %}


            <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
                <div class="card-header">
                     <h3>{{recipe.name}}<span class="float-right"><h3>{{recipe.time}} min </h3></span></h3>
                </div>
                <img src="{% static 'media/' %}{{recipe.image}}" class = " card-img-top imageThumbnail "/>
                <div class="card-footer text-center">

                    <a href="{% url 'core:recipe_details' recipe.id  %}" class="btn btn-primary">View Details</a>
                    {% if recipe.is_approved == False %}
                    <a href = "{% url 'core:recipe_details_approve' recipe.id  %} " class="btn btn-success">Approve</a>
                    {% endif %}
                    <a href = "{% url 'core:recipe_confirm_delete' recipe.id  %} " class="btn btn-danger">Delete</a>
                </div>

            </div>

        {% endfor %}

    </div>


</div>
{% endblock %}
