{% extends 'core/base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
<form method="post">{% csrf_token %}
    <h2>Are you sure you want to delete "{{ object }}"?</h2>
    <input type="submit" class="btn btn-primary" value="Confirm">
</form>
</div>
{% endblock %}